<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home > accounts</title>
    <link rel="icon" href="ico/elegoo-_1_.ico" charset="utf-8">
    <link rel="stylesheet" href="fontawesome-free-6.5.2-web/css/all.min.css">
    <link rel="stylesheet" href="css/page.css">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMKj2ffRuG8VIQf2qMZpQ5mZ5f3gvA19Ge9nKWh" crossorigin="anonymous"> -->
    <!-- <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            display: flex;
        }
        .navbar-left {
            background-color: #333;
            color: white;
            width: 200px;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            padding-top: 20px;
            box-sizing: border-box;
            overflow: hidden;
            transition: width 0.3s;
        }
        .navbar-left.collapsed {
            width: 80px;
        }
        .navbar-left a {
            color: white;
            text-decoration: none;
            /* align-items: center; */
            display: block;
            padding: 15px 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: font-size 0.3s;
            text-align: left;
        }
        .navbar-left.collapsed a {
            /* text-align: center; */
            justify-content: center;
            padding: 20px;
            font-size: 0.8em;
        }
        .navbar-left a .icon {
            margin-right: 10px;
        }
        .navbar-left.collapsed a .text {
            display: none;
        }
        .navbar-left a:hover {
            background-color: #3c3a3a;
        }
        .main-content {
            margin-left: 200px;
            padding: 20px;
            width: calc(100% - 200px);
            box-sizing: border-box;
            transition: margin-left 0.3s, width 0.3s;
        }
        .main-content.collapsed {
            margin-left: 60px;
            width: calc(100% - 60px);
        }
        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 80%;
            text-align: center;
            margin: 30px auto;
            /* height: 80vh; */
            /* overflow-y: scroll; 添加垂直滚动条 */
        }
        h1 {
            color: #333;
            margin-bottom: 20px;
        }
        .styled-input, .styled-select {
            position: relative;
            margin-bottom: 20px;
        }
        .styled-input input, .styled-select select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            box-sizing: border-box;
            transition: border-color 0.3s;
        }
        .styled-input input:focus, .styled-select select:focus {
            border-color: #4caf50;
            outline: none;
        }
        .styled-input label {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 16px;
            color: #999;
            pointer-events: none;
            transition: all 0.3s;
        }
        .styled-input input:focus + label,
        .styled-input input:not(:placeholder-shown) + label {
            top: -20px;
            left: 10px;
            font-size: 12px;
            color: #4caf50;
        }
        button {
            padding: 10px 20px;
            background-color: #4caf50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        button:hover {
            background-color: #3c3a3a;
        }
        .results {
            margin-top: 20px;
            text-align: left;
        }
        .results h2 {
            color: #3da554;
            font-size: 18px;

        }
        .results div {
            list-style-type: none;
            background-color: #e9e9e9;
            margin-bottom: 10px;
            padding: none;
            border-radius: 5px;
        }
        .toggle-btn {
            position: fixed;
            bottom: 20px;
            left: 200px;
            background-color: #333;
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            transition: left 0.3s;
        }
        .toggle-btn.collapsed {
            left: 60px;
        }
        .aaa{
            color: #b0b7ae;
            font-size: 18px;
            text-align: center;
            font-weight: bold;
            text-overflow: ellipsis;
            transition: font-size 0.3s;
            overflow: hidden;
        }
        .home-icon {
            display: block;
            text-align: center;
            font-size: 24px;
            margin-bottom: 20px;
        }
        .tooltip {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }
        .tooltip .question-mark {
            font-size: 20px; /* 调整问号的字体大小 */
        }
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 280px;
            background-color: #c7c2c2;
            color: #0c0b0c;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 125%; /* Position the tooltip above the text */
            left: 0%;
            margin-left: -100px;
            opacity: 0;
            transition: opacity 0.3s;
            font-size: 16px;
        }
        
        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }
        
        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
        
    </style> -->
</head>
<body>
    <div class="navbar-left" id="navbarLeft">
        <!-- <a href="http://10.9.18.34:3000/homePage.html" class="home-icon"><i class="fas fa-home"><img src="elegoo-_1_.ico"></i></a> -->
        <a href="/dashboard" class="home-icon"><i class="fa-solid fa-house icon" style="color: #cecfcf;"></i><span class="text"></span></a>
        <!-- <span class="aaa">&emsp;&emsp;&emsp;&emsp;KAWO</span>-->
        <!-- <hr> -->
        <a href="/account"><i class="fa-solid fa-user icon" style="color: #cecfcf;"></i><span class="text" style="color: #cecfcf;"> Accounts</span></a>
        <a href="/playwright"><i class="fa-solid fa-shield-cat icon" style="color: #cecfcf;"></i><span class="text" style="color: #cecfcf;"> Playwright</span></a>
        <a href="/playwrightReport"><i class="fa-solid fa-book-open-reader icon" style="color: #cecfcf;"></i><span class="text" style="color: #cecfcf;"> Report</span></a>
        <a href="/history"><i class="fa-solid fa-file-waveform icon" style="color: #cecfcf;"></i><span class="text" style="color: #cecfcf;"> History</span></a>
        <a href="/media"><i class="fa-solid fa-photo-film icon" style="color: #cecfcf;"></i><span class="text" style="color: #cecfcf;">Media</span></a>
        <a href="/setting"><i class="fa-solid fa-gear icon" style="color: #cecfcf;" ></i><span class="text" style="color: #cecfcf;">Setting</span></a>
    </div>
    <button class="toggle-btn" id="toggleBtn">☰</button>
    <div class="main-content" id="mainContent">
        <div class="top-content">
            <span class="text" style="font-size: 16px; color: #000000; position: fixed; right: 65px;top: 20px;" onclick="showModal(event)"><i class="fa-solid fa-user-tie"></i>&emsp;Welcome <%= username %> </span>
            <form action="/logout" method="POST" style="position: fixed; right: 0px;top: 10px;"><button type="submit" style="background-color: #f4f4f4;"><i class="fa-solid fa-right-from-bracket fa-xl" style="color: #ff0000;"></i></button></form>
        </div>
        <div class="container">
            <h1><i class="fa-solid fa-user icon"></i>&emsp;Handle Accounts on KAWO
                <span class="tooltip">
                    <span class="question-mark"><i class="fa-solid fa-circle-question" style="color: #760404;"></i></span>
                    <span class="tooltiptext">Douyin, Xhs and Bilibili are all homepage links, Kuaishou is the link shared by Kuaishou APP, Sph is the nickname of Sph; if you have more than one account need add, only English symbols “,” are supported in input box to separate.</span>
                </span>
            </h1>
            <form id="inputForm">
                <div class="styled-input">
                    <input type="text" id="urls" name="urls" placeholder=" " required>
                    <label for="urls">Enter your accounts (e.g. http://www.douyin/testabc,http://www.douyin/testxyz)</label>
                </div>
                <div class="styled-select">
                    <select id="platform" name="platform" required>
                        <option value="" disabled selected><p >Choose a platform</p></option>
                        <option value="xhs">小红书(xhs)</option>
                        <option value="dy">抖音(dy)</option>
                        <option value="ks">快手(ks)</option>
                        <option value="wx">微信(wx)</option>
                        <option value="sph">视频号(sph)</option>
                        <option value="bilibili">哔哩哔哩(bilibili)</option>
                    </select>
                </div>
                <div class="styled-select">
                    <select id="opType" name="opType" required>
                        <option value="" disabled selected>Choose an action</option>
                        <option value="add">添加(add)</option>
                        <option value="delete">删除(delete)</option>
                    </select>
                </div>
                <button type="submit" id="submitBtn">Submit</button>
                <!-- <button type="button" id="cancelBtn">Cancel</button> -->
            </form>
            <div class="results">
                <!-- <h2>Execution Results:</h2> -->
                <div id="resultsList"> 
                    <!-- <h2>Output:</h2> -->

                    
                </div>
            </div>
        </div>
    </div>
    <div id="infoModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2 style="color: #888;">Personal Information</h2>
            <p><span style="color: #888;">username:&nbsp;&nbsp;</span><span style="color: #000000;"><%= username %></span></p>
            <p><span style="color: #888;">email:&nbsp;&nbsp;</span><span style="color: #000000;"><%= username %>@email.com</span></p>
            <!-- 添加更多个人信息 -->
        </div>
    </div>

    <script>
        function showModal(event) {
            event.preventDefault();  // 阻止超链接的默认行为
            console.log('Showing modal...');
            document.getElementById('infoModal').style.display = 'block';
        }

        function closeModal() {
            console.log('Closing modal...');
            document.getElementById('infoModal').style.display = 'none';
        }

        window.onclick = function(event) {
            if (event.target == document.getElementById('infoModal')) {
                closeModal();
            }
        }
        document.addEventListener('DOMContentLoaded', () => {
            const submitBtn = document.getElementById('submitBtn');
            const logs = document.getElementById('resultsList');
            const ws = new WebSocket(`ws://${window.location.host}`);

            ws.onopen = () => {
                console.log('WebSocket connected');
            };

            // ws.onmessage = (event) => {
            //     const message = document.createElement('li');
            //     message.textContent = event.data;
            //     logs.appendChild(message);
            //     logs.scrollTop = logs.scrollHeight;
            // };

            ws.onerror = (error) => {
                console.error(`WebSocket error: ${error}`);
                const message = document.createElement('div');
                message.textContent = `WebSocket error: ${error.message}`;
                logs.appendChild(message);
                logs.scrollTop = logs.scrollHeight;
            };
            ws.onmessage = (event) => {
                const message = event.data;
                if (message === 'complete') {
                    submitBtn.textContent = 'Submit';
                    submitBtn.disabled = false;
                    // localStorage.removeItem('isLoading');
                } else {
                    const logEntry = document.createElement('div');
                    logEntry.textContent = message;
                    logs.appendChild(logEntry);
                    // logs.textContent += message;
                    logs.scrollTop = logs.scrollHeight;
                }
            };


            ws.onclose = () => {
                console.log('WebSocket disconnected');
            };

            document.getElementById('inputForm').addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent default form submission

                const homeUrl = document.getElementById('urls').value;
                const platform = document.getElementById('platform').value;
                const opType = document.getElementById('opType').value;

                submitBtn.textContent = 'Loading...';
                submitBtn.disabled = true;
                // cancelBtn.disabled = false;
                logs.textContent = ''

                // Send a message to the server to run the Python script with parameters
                ws.send(JSON.stringify({
                    command: 'run-python',
                    params: [homeUrl, platform,opType]
                }));
                
            });
        });

        const toggleBtn = document.getElementById('toggleBtn');
        const navbarLeft = document.getElementById('navbarLeft');
        const mainContent = document.getElementById('mainContent');

        toggleBtn.addEventListener('click', () => {
            navbarLeft.classList.toggle('collapsed');
            mainContent.classList.toggle('collapsed');
            toggleBtn.classList.toggle('collapsed');
        });
    </script>
</body>
</html>
